{% extends "home.html" %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% block title %}Home{% endblock %}

{% block content %}
            <br>
<h1 align="center">{{user.username}}'s posts</h1>

<div id="posts">
    {% for post in posts %}
    <div class="card border-dark">
        <div class="card-footer text-muted">
            <a href="/user_posts/{{post.user.username}}" style="color: black">{{post.user.username}}</a>
        </div>
        <div class="card-header d-flex justify-content-between align-items-center">
            <div><small><small><small>{{post.date.strftime('%d.%m.%y')}}</small></small></small></div>

            {% if current_user.id == post.author %}
            <div class="btn-group">
                <a href="/delete_post/{{post.id}}" class="dropdown-item">Delete</a>
            </div>
            {% endif %}
        </div>
        <center>
            <div class="card-body">
                <div class="card-text">{{post.post}}</div>
                <br>

                {{ post.likes | length }} {% if user.id in post.likes | map(attribute="author") | list %}

                <div class="btn-group" style="position: absolute; bottom: 0; height: 65px; line-height: 65px;">
                    <a href="/like_post/{{post.id}}" class="dropdown-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
                            <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"/>
                        </svg>
                    </a>
                </div>

                {% else %}
                <div class="btn-group" style="position: absolute; bottom: 0; height: 65px; line-height: 65px;">
                    <a href="/like_post/{{post.id}}" class="dropdown-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-suit-heart" viewBox="0 0 16 16">
                            <path d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z"/>
                        </svg>
                    </a>
                </div>
                {% endif %}
            </div>
        </center>
    </div>

    <form method="POST" action="/add_comment/{{post.id}}">
        <div class="form-control border-top" style="position: relative; border: 1px solid black;">
            <div class="form-group">
                {% if post.comments|length > 0 %}
                <button type="button" class="btn btn-white" data-toggle="collapse"
                        data-target="#commentSection{{post.id}}">
                    View {{post.comments|length}} comments
                </button>
                <div id="commentSection{{post.id}}" class="collapse">
                    <br>

                    {% for comment in post.comments %}
                    <div class="form-control" style="position: relative;">
                        {{ user.username }}
                        <br>
                        <small><small><small>{{ comment.date.strftime('%d.%m.%y') }}</small></small></small>

                        {% if current_user.id == comment.author %}
                        <div class="btn-group" style="float: right;">
                            <a href="/delete_comment/{{comment.id}}/{{post.id}}" class="dropdown-item">Delete</a>
                        </div>
                        {% endif %}

                        <hr>
                        {{ comment.comment }}
                        <br>
                        <br>
                    </div>
                    <br>
                    {% endfor %}
                </div>
                {% endif %}
            </div>

            <div style="position: relative">
                <input
                        type="text"
                        class="form-control"
                        id="comment"
                        name="comment"
                        placeholder="New comment, start tapping here..."
                />
                <button
                        type="submit"
                        class="btn btn-white"
                        style="position: absolute; right: 0; top: 50%; transform: translateY(-50%);">
                    <svg
                            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-cursor" viewBox="0 0 16 16">
                        <path
                                d="M14.082 2.182a.5.5 0 0 1 .103.557L8.528 15.467a.5.5 0 0 1-.917-.007L5.57 10.694.803 8.652a.5.5 0 0 1-.006-.916l12.728-5.657a.5.5 0 0 1 .556.103zM2.25 8.184l3.897 1.67a.5.5 0 0 1 .262.263l1.67 3.897L12.743 3.52 2.25 8.184z"
                        />
                    </svg>
                </button>
            </div>
        </div>
    </form>

    <br>
    {% endfor %}

    {% endblock %}

